@model GigHub.Web.ViewModels.GigFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Heading</h2>
<form asp-controller="Gigs" asp-action="@Model.Action" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-antiforgery="true" class="form-horizontal">
    <input asp-for="Id" type="hidden"></input>
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>

    <div class="form-group">
        <label asp-for="Venue" class="control-label"></label>
        <input asp-for="Venue" class="form-control" autofocus="autofocus" />
        <span asp-validation-for="Venue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" placeholder="eg 1 Jan 2016" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" placeholder="eg 20:00" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label"></label>
        <select asp-for="Genre" asp-items="@(new SelectList(Model.Genres,"Id", "Name"))" class="form-control">
            <option></option>
        </select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}